/* bookdetails.css */
.book-details-container {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .book-image-container {
    flex: 1;
    padding: 20px;
  }
  
  .book-image {
    width: 250px;
	height: 350px;
    margin-left: 3rem;
    border-radius: 8px;
  }
  
  .book-details {
    flex: 2;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  p{
    margin-left: 10rem;
  }
  
  .card-section {
    margin-top: 20px;
  }
  
  .card-title {
    margin-right: 50rem;
    font-size: 20px;
    margin-bottom: 10px;
    
  }
  
  /* Adjust other styles as needed */
  